<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <titl>canvasPrintCreater</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>

    <div id="app">
        <!-- 牆壁 -->
        <div id="wall" class="wall" :style="wallStyle">
            <!-- 牆壁壁紙 -->
            <img class="wall_paper" :src="wall_paperStyle.src" />
            <!-- 牆壁材質 -->
            <div class="wall_material" :style="wall_materialStyle"></div>

            <div class="view" :style="view">

                <!-- 相框1 -->
                <label :style="canvasObject1_Style" class="canvasObject" v-if="canvasCount >= 1" for="photo1">
                    <div class="single">
                        <!-- 相框 -->
                        <div class="canvas" :style="canvasStyle[0]">
                            <!-- 相片 -->
                            <img class="photo" :src="photo[0].src" alt="">
                            <!-- 相框材質 -->
                            <div class="canvas_material" :style="canvasStyle[0]"></div>
                            <div class="canvas_detail" :style="canvasStyle[0]"></div>
                        </div>
                        <!-- 相框陰影 -->
                        <div class="canvasShadow" :style="canvasShadowStyle0"></div>
                    </div>
                </label>

                <!-- 相框2 -->
                <label :style="canvasObject2_Style" class="canvasObject" v-if="canvasCount >= 2" for="photo2">
                    <div class="single">
                        <!-- 相框 -->
                        <div class="canvas" :style="canvasStyle[1]">
                            <!-- 相片 -->
                            <img class="photo" :src="photo[1].src" alt="">
                            <!-- 相框材質 -->
                            <div class="canvas_material" :style="canvasStyle[1]"></div>
                            <div class="canvas_detail" :style="canvasStyle[1]"></div>
                        </div>
                        <!-- 相框陰影 -->
                        <div class="canvasShadow" :style="canvasShadowStyle1"></div>
                    </div>
                </label>

                <!-- 相框3 -->
                <label :style="canvasObject3_Style" class="canvasObject" v-if="canvasCount >= 3" for="photo3">
                    <div class="single">
                        <!-- 相框 -->
                        <div class="canvas" :style="canvasStyle[2]">
                            <!-- 相片 -->
                            <img class="photo" :src="photo[2].src" alt="">
                            <!-- 相框材質 -->
                            <div class="canvas_material" :style="canvasStyle[2]"></div>
                            <div class="canvas_detail" :style="canvasStyle[2]"></div>
                        </div>
                        <!-- 相框陰影 -->
                        <div class="canvasShadow" :style="canvasShadowStyle2"></div>
                    </div>
                </label>

                <!-- 相框4 -->
                <label :style="canvasObject4_Style" class="canvasObject" v-if="canvasCount >= 4" for="photo4">
                    <div class="single">
                        <!-- 相框 -->
                        <div class="canvas" :style="canvasStyle[3]">
                            <!-- 相片 -->
                            <img class="photo" :src="photo[3].src" alt="">
                            <!-- 相框材質 -->
                            <div class="canvas_material" :style="canvasStyle[3]"></div>
                            <div class="canvas_detail" :style="canvasStyle[3]"></div>
                        </div>
                        <!-- 相框陰影 -->
                        <div class="canvasShadow" :style="canvasShadowStyle4"></div>
                    </div>
                </label>

                <!-- 相框5 -->
                <label :style="canvasObject5_Style" class="canvasObject" v-if="canvasCount >= 5" for="photo5">
                    <div class="single">
                        <!-- 相框 -->
                        <div class="canvas" :style="canvasStyle[4]">
                            <!-- 相片 -->
                            <img class="photo" :src="photo[4].src" alt="">
                            <!-- 相框材質 -->
                            <div class="canvas_material" :style="canvasStyle[4]"></div>
                            <div class="canvas_detail" :style="canvasStyle[4]"></div>
                        </div>
                        <!-- 相框陰影 -->
                        <div class="canvasShadow" :style="canvasShadowStyle5"></div>
                    </div>
                </label>
            </div>

        </div>

        <div class="wallControllers">
            <div class="wallControllers_inner">
                <!-- <div class="logo">
                    CanvasPrint
                </div> -->

                <div class="list">
                    <label>
                        <input type="radio" value="all" v-model="wallController_choice">
                        <span>整體</span>
                    </label>
                    <label v-if="canvasCount >= 1">
                        <input type="radio" id="photo1" value="1" v-model="wallController_choice">
                        <span>相框1</span>
                    </label>
                    <label v-if="canvasCount >= 2">
                        <input type="radio" id="photo2" value="2" v-model="wallController_choice">
                        <span>相框2</span>
                    </label>
                    <label v-if="canvasCount >= 3">
                        <input type="radio" id="photo3" value="3" v-model="wallController_choice">
                        <span>相框3</span>
                    </label>
                    <label v-if="canvasCount >= 4">
                        <input type="radio" id="photo4" value="4" v-model="wallController_choice">
                        <span>相框4</span>
                    </label>
                    <label v-if="canvasCount >= 5">
                        <input type="radio" id="photo5" value="5" v-model="wallController_choice">
                        <span>相框5</span>
                    </label>
                </div>

                <div class="item" v-if="wallController_choice == 'all'">
                    <div>
                        相框數量: <input type="range" min="1" max="5" v-model="canvasCount"> {{canvasCount}}個
                    </div>
                    <div>
                        相框間距: <input type="range" min="0" max="100" v-model="canvasMargin"> <input style="width:50px;"
                            type="number" v-model="canvasMargin">
                    </div>
                    <div>
                        視角遠近: <input type="range" min="10" max="200" v-model="photoRange"> {{photoRange/100}}
                        <button @click="photoRange = 100">預設</button>
                    </div>
                    <div>
                        水平移動: <input type="range" min="-100" max="100" v-model="photo_X"> <input
                            style="width:50px;" type="number" v-model="photo_X">
                        <button @click="photo_X = 0">預設</button>
                    </div>
                    <div>
                        垂直移動: <input type="range" min="-100" max="100" v-model="photo_Y"> <input
                            style="width:50px;" type="number" v-model="photo_Y">
                        <button @click="photo_Y = 0">預設</button>
                    </div>
                    <!-- <div>
                        壁紙: <input type="file" @change="changeWallPaper">
                        <button @click="wall_paperStyle.src = ''">remove</button>
                    </div> -->
                </div>

                <div class="item" v-else-if="wallController_choice == '1'">
                    <div>
                        照片: <input type="file" @change="changePhoto('0',$event)">
                        <!-- <button @click="photo[0].src = ''">remove</button> -->
                    </div>
                    <div>
                        水平移動: <input type="range" min="-200" max="200" v-model="photo1_X"> <input
                            style="width:50px;" type="number" v-model="photo1_X">
                        <button @click="photo1_X=0">預設</button>
                    </div>
                    <div>
                        垂直移動: <input type="range" min="-200" max="200" v-model="photo1_Y"> <input
                            style="width:50px;" type="number" v-model="photo1_Y">
                        <button @click="photo1_Y=0">預設</button>
                    </div>
                    <div>
                        照片大小: <input type="range" min="10" max="300" v-model="photo1_size"> <input style="width:50px;"
                            type="number" v-model="photo1_size">%
                        <button @click="photo1_size=100;">預設</button>
                    </div>
                </div>

                <div class="item" v-else-if="wallController_choice == '2'">
                    <div>
                        照片: <input type="file" @change="changePhoto('1',$event)">
                        <!-- <button @click="photo.src = ''">remove</button> -->
                    </div>
                    <div>
                        水平移動: <input type="range" min="-200" max="200" v-model="photo2_X"> <input
                            style="width:50px;" type="number" v-model="photo2_X">
                        <button @click="photo2_X=0;">預設</button>
                    </div>
                    <div>
                        垂直移動: <input type="range" min="-200" max="200" v-model="photo2_Y"> <input
                            style="width:50px;" type="number" v-model="photo2_Y">
                        <button @click="photo2_Y=0;">預設</button>
                    </div>
                    <div>
                        照片大小: <input type="range" min="10" max="300" v-model="photo2_size"> <input style="width:50px;"
                            type="number" v-model="photo2_size">%
                        <button @click="photo2_size=100;">預設</button>
                    </div>
                </div>

                <div class="item" v-else-if="wallController_choice == '3'">
                    <div>
                        照片: <input type="file" @change="changePhoto('2',$event)">
                        <!-- <button @click="photo.src = ''">remove</button> -->
                    </div>
                    <div>
                        水平移動: <input type="range" min="-200" max="200" v-model="photo3_X"> <input
                            style="width:50px;" type="number" v-model="photo3_X">
                        <button @click="photo3_X=0;">預設</button>
                    </div>
                    <div>
                        垂直移動: <input type="range" min="-200" max="200" v-model="photo3_Y"> <input
                            style="width:50px;" type="number" v-model="photo3_Y">
                        <button @click="photo3_Y=0;">預設</button>
                    </div>
                    <div>
                        照片大小: <input type="range" min="10" max="300" v-model="photo3_size"> <input style="width:50px;"
                            type="number" v-model="photo3_size">%
                        <button @click="photo3_size=100;">預設</button>
                    </div>

                </div>

                <div class="item" v-else-if="wallController_choice == '4'">
                    <div>
                        照片: <input type="file" @change="changePhoto('3',$event)">
                        <!-- <button @click="photo.src = ''">remove</button> -->
                    </div>
                    <div>
                        水平移動: <input type="range" min="-200" max="200" v-model="photo4_X"> <input
                            style="width:50px;" type="number" v-model="photo4_X">
                        <button @click="photo4_X=0;">預設</button>
                    </div>
                    <div>
                        垂直移動: <input type="range" min="-200" max="200" v-model="photo4_Y"> <input
                            style="width:50px;" type="number" v-model="photo4_Y">
                        <button @click="photo4_Y=0;">預設</button>
                    </div>
                    <div>
                        照片大小: <input type="range" min="10" max="300" v-model="photo4_size"> <input style="width:50px;"
                            type="number" v-model="photo4_size">%
                        <button @click="photo4_size=100;">預設</button>
                    </div>
                </div>

                <div class="item" v-else-if="wallController_choice == '5'">
                    <div>
                        照片: <input type="file" @change="changePhoto('4',$event)">
                        <!-- <button @click="photo.src = ''">remove</button> -->
                    </div>
                    <div>
                        水平移動: <input type="range" min="-200" max="200" v-model="photo5_X"> <input
                            style="width:50px;" type="number" v-model="photo5_X">
                        <button @click="photo5_X=0;">預設</button>
                    </div>
                    <div>
                        垂直移動: <input type="range" min="-200" max="200" v-model="photo5_Y"> <input
                            style="width:50px;" type="number" v-model="photo5_Y">
                        <button @click="photo5_Y=0;">預設</button>
                    </div>
                    <div>
                        照片大小: <input type="range" min="10" max="300" v-model="photo5_size"> <input style="width:50px;"
                            type="number" v-model="photo5_size">%
                        <button @click="photo5_size=100;">預設</button>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Vue 3.0 cdn -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>

</body>

</html>